<div class="container" >
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="/assets/images/cenzor.png">
        <div class="card-body">
          <a  [routerLink]="[ '/works/cenzor' ]" class="btn btn-primary">details</a>
        </div>
    </div>
    
      <div class="card" style="width: 18rem;">
        <img  class="card-img-top" src="/assets/images/user_list.png">
        <div class="card-body">
          <a  [routerLink]="[ '/works/user-list' ]" class="btn btn-primary">details</a>
        </div>
      </div>
    
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="/assets/images/task-list.png">
        <div class="card-body">
          <a  [routerLink]="[ '/works/task-list' ]" class="btn btn-primary">details</a>
        </div>
      </div>
    
      <div class="card" style="width: 18rem;" >
        <img class="card-img-top" src="/assets/images/phone-book.png" >
        <div class="card-body">
          <a  [routerLink]="[ '/works/phone-book' ]" class="btn btn-primary">details</a>
        </div>
      </div> 
    </div>
    
