.container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 100px auto;
    flex-wrap: wrap;
}

.btn-primary{
    width: 100%;
    margin-top: 50px;
}

.card{
    height: 250px;
    margin-top: 20px;
    border: 1px solid lightgrey;

}
